.minggir-kiri{
  margin-left: -50px;
}

p{
  font-size: 16px;
}

span.sm-txt{
  font-size: 14px;
  margin-left: 10px;
}

  @media only screen and (min-width: 768px) {
    /* For desktop: */
    label.hilang{
        display: none;
    }

    hr.hilang{
      display: none;
  }

  }

  #notifications {
    cursor: pointer;
    position: fixed;
    right: 0px;
    z-index: 9999;
    bottom: 0px;
    margin-bottom: 22px;
    margin-right: 15px;
    min-width: 300px; 
    max-width: 800px;  
}